:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    color: var(--oscuro);
}

.my-title{
    text-align: center;
    font-size: 3.8rem;
}

.my-title span{
    font-size: 2rem;
}

.navegacion-principal {
    background-color: var(--secundario); /* Margin es por fuera y padding es por dentro */
    display: flex; /* Flexbox es para alinear elementos */
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold; /* Negritas */
    font-size: 2rem;
    align-items: center;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none; /* Esto remueve el subrayado*/
    padding: 1rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--secundario);
}

.hero {
    background-image: url("../img/study.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-hero {
    text-align: center;
}

.contenido-hero h2 {
    color: var(--blanco);
    text-align: center;
}

.ubicacion {
    display: flex;
    align-items: center;
}

@media (min-width: 780px){
    .navegacion-principal{
        flex-direction: row;
    }
}